#gallery {
  display: flex;
  list-style: none;
}

#gallery img {
  width: calc(100% - 6 * 10px);
  height: 100%;
}

#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}

#font-size-control {
  margin-top: 15px;
}

#controls {
  margin-top: 15px;
}
